.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libsframes.la
libsframes.pc
libsframes_la-sframes.lo
libsframes_la-sframes.o
libtool
ltmain.sh
m4/*.m4
missing
test-driver

